/* Stile di base del bottone */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  font-family: inherit; /* Eredita il font dal body */
  -webkit-font-smoothing: antialiased;
}

/* Varianti */
.primary {
  background-color: var(--surface-primary);
  color: white;
}
.primary:hover:not(:disabled) {
  color: white;
  background-color: var(--surface-secondary);
}

.primary[data-selected="true"] {
  color: var(--text-dark);
  background-color: var(--surface-light);
}
.primary[data-selected="true"]:hover {
  color: var(--text-dark);
  background-color: var(--surface-accent);
}

.secondary {
  background-color: var(--surface-primary);
  color: white;
  opacity: 0.8;
}
.secondary[data-selected="true"] {
  color: var(--text-dark);
  background-color: var(--surface-light);
  opacity: 0.8;
}
.secondary[data-selected="true"]:hover {
  color: var(--text-dark);
  background-color: var(--surface-accent);
  opacity: 0.8;
}

/* .secondary {
  background-color: var(--surface-primary);
  color: var(--surface-light);
} */
/* .secondary:hover:not(:disabled) {
  background-color: var(--surface-tertiary);
} */

.tertiary[data-selected="false"] {
  background-color: transparent;
  color: var(--text-light);
  border-color: transparent;
  font-weight: 500;
  padding: 0px;
}
.tertiary:hover:not(:disabled) {
  /* background-color: #f8f9fa; */
}
.tertiary[data-selected="true"] {
  color: var(--text-accent);
  background-color: transparent;
  font-weight: 700;
  padding: 0px;
}

/* Dimensioni */
.xs {
  font-size: 0.75rem;
  padding: 2px 8px;
}
.small {
  font-size: 0.75rem;
  padding: 4px 10px;
}

.medium {
  font-size: 1rem;
  padding: 10px 20px;
}

.large {
  font-size: 16px;
  padding: 12px 24px;
}

/* Stato disabilitato */
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
