/* Stile di base del bottone */

.close {
  display: flex;
  place-content: center;
  align-items: center;
  position: absolute;
  width: 1rem;
  height: 1rem;

  right: -0.5rem;
  top: -0.5rem;

  color: var(--text-primary);

  background-color: var(--surface-primary);
  border: 0.5px solid var(--surface-tertiary);
  cursor: pointer;

  border-radius: 999px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  font-family: inherit; /* Eredita il font dal body */
  -webkit-font-smoothing: antialiased;
}

/* Varianti */
.primary {
  color: var(--text-primary);
  background-color: var(--surface-primary);
}
.primary:hover:not(:disabled) {
  color: var(--text-primary);
  background-color: var(--surface-primary-hover);
}

.primary[data-selected="true"] {
  color: var(--text-primary);
  background-color: var(--surface-primary-selected);
}
.primary[data-selected="true"]:hover {
  color: var(--text-primary);
  background-color: var(--surface-primary-selected-hover);
}

.secondary {
  color: var(--text-secondary);
  background-color: var(--surface-secondary);
}
.secondary:hover:not(:disabled) {
  color: var(--text-secondary);
  background-color: var(--surface-secondary-hover);
}

.secondary[data-selected="true"] {
  color: var(--text-secondary);
  background-color: var(--surface-secondary-selected);
  opacity: 0.8;
}
.secondary[data-selected="true"]:hover {
  color: var(--text-on-surface);
  background-color: var(--surface-secondary-selected-hover);
  opacity: 0.8;
}

.transparent {
  color: var(--text-primary);
  background-color: var(--surface-transparent);
}
.transparent:hover:not(:disabled) {
  color: var(--text-primary);
  background-color: var(--surface-primary-hover);
}

.transparent[data-selected="true"] {
  color: var(--text-primary);
  background-color: var(--surface-transparent);
}
.transparent[data-selected="true"]:hover {
  color: var(--text-primary);
  background-color: var(--surface-transparent);
}

.tertiary[data-selected="false"] {
  background-color: transparent;
  color: var(--text-primary);
  border-color: transparent;
  font-weight: 500;
  padding: 0px;
}
.tertiary:hover:not(:disabled) {
  /* background-color: #f8f9fa; */
}
.tertiary[data-selected="true"] {
  color: var(--text-accent);
  background-color: transparent;
  font-weight: 700;
  padding: 0px;
}

/* Dimensioni */
.xs {
  font-size: 0.75rem;
  padding: 2px 8px;
}
.small {
  font-size: 0.75rem;
  padding: 4px 10px;
}

.medium {
  font-size: 1rem;
  padding: 10px 20px;
}

.large {
  font-size: 16px;
  padding: 12px 24px;
}

/* Stato disabilitato */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
