.sidePanel {
  position: fixed;
  left: 0;
  top: 5%;
  width: 220px;
  display: flex;
  gap: 0;
  z-index: 100;
}

.panelButtons {
  max-width: 30px;
  /* padding: var(--spacing-sm) 0; */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.panelBtn {
  display: flex;
  place-items: center;
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  padding: var(--spacing-xs);

  background-color: var(--surface-primary);
  color: var(--text-primary);
  box-shadow: 0 4px 5px rgba(0, 0, 22, 0.6);
  border: 0px solid;
  cursor: pointer;
}
.selected {
  background-color: color-mix(in srgb, var(--surface-secondary) 80%, var(--surface-accent) 20%);
  color: var(--text-primary);
}

.panelContent {
  padding: var(--spacing-sm);
  width: 200px;
  min-height: 400px;
  max-height: 85vh;
  overflow-y: scroll;

  background-color: color-mix(in srgb, var(--surface-secondary) 80%, var(--surface-accent) 20%);
  box-shadow: 0 4px 5px rgba(0, 0, 22, 0.6);

  border-radius: 0 0 0 var(--radius-md);
}
