.sliderContainer {
  display: flex;
  flex-direction: column;
}

.svgSlider {
  overflow: visible;
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.cursor {
  cursor: grab;
}
