p {
  margin: 0;
}

#filters {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing-xl); */
  place-content: space-between;
  align-items: center;
  color: var(--text-lighter);
  font-size: var(--text-sm);
}

#filters rect {
  fill: var(--surface-light);
}
#filters rect.min.color {
  fill: blue;
}
#filters rect.max.color {
  fill: red;
}

#filters .filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
#filters .filter-box {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  gap: var(--spacing-md);
  background-color: var(--surface-contrast);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  /* place-content: center;
  justify-content: center; */
  align-items: center;
}

#filters .filter-header {
  min-height: 1.5rem;
  display: flex;
  width: 100%;
  place-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-sm);
}
#filters .slider-wrapper {
  display: flex;
  gap: var(--spacing-sm);
}

#dates[data-state="inactive"] {
  display: none;
}

svg.filter-distribution,
svg.filter {
  overflow: visible;
}
svg.filter-distribution text,
svg.filter text {
  opacity: 0.5;
}

#cursor {
  cursor: grab;
}

@media (max-width: 900px) {
  #filters {
    flex-direction: row;
  }

  #filters .filter-wrapper {
    flex-direction: row;
  }
}

/* SLIDER */

.slider-container {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.svg-slider {
  overflow: visible;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
