.chart-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  /* max-height: 500px; */
}

.function-row {
  display: flex;
  place-content: space-between;
}

.chart-modes {
  display: flex;
  gap: var(--spacing-sm);
}

.chart-controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* place-content: space-between; */
  /* gap: var(--spacing-md); */
}

#lump-controls {
  grid-column: span 1;
}
#line-controls {
  grid-column: span 2;
}
#matrix-controls {
  grid-column: span 1;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.chart-container {
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  /* background-color: var(--surface-contrast); */
  background-color: var(--surface-chart);

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* gap: var(--spacing-sm); */
  max-width: 1440px;
  /* width: 100%; */
  /* min-height: 500px; */
  height: 100%;
  overflow: scroll;
}

#distributions-chart {
  grid-column: span 1;
}

#trajectories-chart {
  grid-column: span 3;
}
#matrix-chart {
  grid-column: span 2;
  overflow: visible;
}
#sankey-chart {
  grid-column: span 4;
}

.no-data-panel {
  display: flex;
  grid-column: 3 / span 2;
  gap: var(--spacing-md);
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  justify-content: center;
  align-items: center;
}

svg {
  min-width: 0;
  /* width: 100%; */
}

.svg-container {
  /* position: relative; */
  display: block;
  width: 100%;
  height: auto;
  /* max-width: 1000px;
  max-height: 400px;
  overflow: scroll; */
}

/* Left SVG takes up 25% of the available width */
.svg-container:first-child {
  flex: 1;
  /* flex: 1 means this will take up 1 portion of available space */
}

/* Right SVG takes up 75% of the available width */
.svg-container:last-child {
  flex: 3;
  /* flex: 3 means this will take up 3 portions of available space */
}

.hovered-trajectory-pop-up {
  display: flex;
  gap: var(--spacing-sm);
}

/* --- For tablets and larger devices --- */
/* Applies if the viewport height is at least 651px */
@media (min-height: 651px) {
  .chart-container {
    max-height: 600px;
  }
}

/* --- For large desktop monitors --- */
/* Applies if the viewport height is at least 900px */
@media (min-height: 900px) {
  .chart-container {
    max-height: 800px;
  }
}
@media (min-height: 1200px) {
  .chart-container {
    max-height: 800px;
  }
}
